asgiref==3.5.1
distlib==0.3.4
Django==4.0.4
filelock==3.6.0
Pillow==9.1.0
platformdirs==2.5.2
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.14.1
PyMySQL==1.0.2
setuptools==58.1.0
mysql-connector-python==8.0.29
mysqlclient==2.1.0
protobuf==3.20.1
